# Byte-compiled / dll / opt files
__pycache__/
*.py[cod]

# VS Code Workspace
ksp.code-workspace

# raw csv
_raw/

# links
*.lnk

# postgres connection
psqlConn.py
psInfo/

# game screenshots
screenshots/

# old files
old/

# faulty launches csv files
*.fault.*





