# Byte-compiled / dll / opt files
__pycache__/
*.py[cod]

# VS Code Workspace & Workspace objects
*.code-workspace
*.lnk

# Files & File Types
psqlConn.py
*.csv

# Directories
screenshots/
old/
flight/
_raw/





